.App {
  position: absolute;
  height: 100%;
  width: 100%;
}

.no-judgement {
  border: 4px solid white;
}

.incorrect {
  border: 4px solid red;
}

.correct {
  border: 4px solid lightgreen;
}

.removed {
  visibility: hidden;
}
