.App {
  position: absolute;
  height: 100%;
  width: 100%;
}

.flat {
  scale: 1.0;
}

.raised {
  scale: 1.1;
}

/*.incorrect {*/
  /*padding: 4px solid red;*/
  /*background-color: red;*/
/*}*/

/*.correct {*/
  /*padding: 4px solid lightgreen;*/
/*}*/

/*.removed {*/
  /*visibility: hidden;*/
/*}*/
