.App {
  position: absolute;
  height: 100%;
  width: 100%;
}

/*.no-judgement {*/
  /*padding: 4px solid white;*/
/*}*/

/*.incorrect {*/
  /*padding: 4px solid red;*/
  /*background-color: red;*/
/*}*/

/*.correct {*/
  /*padding: 4px solid lightgreen;*/
/*}*/

/*.removed {*/
  /*visibility: hidden;*/
/*}*/
